<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Haqqımızda<br></h2>
        <p><span>Daha çox kəşf et</span> <span class="description-title">Biz Kimik?</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Rezerv et</h3>
                    <p>+994 55 274 34 04 </p>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Bizim restoran, ən təzə və keyfiyyətli yerli məhsullardan istifadə edərək, hər yeməyi sevgi ilə hazırlayır. Mətbəximizdə klassik və modern dadlar birləşir, müştərilərimizə unudulmaz bir dad təcrübəsi təqdim edirik. Hər ziyarətiniz bizim üçün xüsusi bir an deməkdir.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Bizimlə hər ziyarətiniz dadlı və unudulmaz olacaq. Şeflərimiz ən təzə məhsullardan istifadə edir və hər yeməyi sevgi ilə hazırlayır.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Hər yeməyimiz sevgi ilə hazırlanır və sizə unudulmaz dad təcrübəsi təqdim edir.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Hər yeməyimiz təzə məhsullardan hazırlanır və unudulmaz dad təcrübəsi təqdim edir.</span></li>
                    </ul>
                    <p>
                        Bizim restoran hər yeməyi sevgi və diqqətlə hazırlayır. Yalnız ən təzə və keyfiyyətli məhsullardan istifadə edirik ki, sizə unudulmaz dad təcrübəsi təqdim edək. Rahat mühitimiz və səmimi xidməti ilə hər ziyarətiniz xüsusi bir an olsun.
                    </p>

                    <div class="position-relative mt-4">
                        <img src="/Yummy/assets/img/about-2.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>